@media all and (max-width:1030px) {
 
  .container {
    width: 100%;
    padding: 0px;
  }
 
 
}
@media all and (max-width:600px) {

 .top-wrapper {
   text-align: left;
 }
.top-wrapper h1 {
  margin:10px 0 ;
  font-size: 30px;
}
.top-wrapper p {
  font-size: 13px;
}

  footer {
    text-align:center;
  }
   .btn {
        
    width:90% ;
    margin-right: 0px;
  }
  .facebook {
    margin-bottom: 20px;
  }
.twitter {
  margin-bottom: 20px;
}
  
}
