@media all and (max-width:1030px) {
  .container{
   padding:0px ;
    width: 100%;
  }
  
  .top-wrapper p {
    font-size: 10px;
  }
  
 
}
@media all and (max-width:600px) {
  header {
    display: none;
  }

  .container {
     
     width: 100%;
  }
  .top-wrapper{
    width: 100%;
  }
  footer {
    text-align:center;
  }
   .btn {
        
    width:100% ;
  }
  .facebook {
    margin-bottom: 10px;
  }
.twitter {
  margin-bottom: 10px;
}
  
}
