* {
  box-sizing: border-box;
}
body  {
margin: 0;
font-family:"hiragino kaku Gothic ProN";

}

a {
 text-decoration: none;
}
.clear{
clear: left;
}

.container {
  max-width: 1170px;
    width:100%;
 
  margin: 0 auto;
}

.top-wrapper {
  padding:100px 0 30px 0;
  background-image:url(https://live.staticflickr.com/65535/49109262563_7fd57e6593_c.jpg) ;
  color: black;
  background-size: cover;
  text-align: center;

}

.top-wrapper h1 {
color: white;
letter-spacing: 5px;
font-size:40px ;
text-shadow:2px 2px 0 #000;
}
.top-wrapper p {
  font-size: 15px;
color: white;
text-shadow:2px 2px 0 #000;
}            



.facebook {
  background-color: #3b5998;
  margin-right:10px ;
  
}

.twitter {
  background-color:#34A1F2 ;
  width: 141px;
  text-align: center;
  margin-right: 10px;
}

.instagram {
  background-color: rgb(175, 37, 175);
 width: 141px;
  text-align: center;
  
}

header {
  height: 55px;
width: 100%;
  background-color:rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0px;
  z-index: 10;
 
}

.logo {
  
  width: 100px;
  margin-top: 5px;
 
}

.header-left {
float: left;

  
}

.header-right {
  height: 55px;
  float: right;
  
  background-color: rgba(255, 255, 255, 0.3);
  transition:all 0.5s ;
}
.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

.info-wrapper {
  padding-bottom: 130px;
  background-color:#f7f7f7;
}
.heading {
  padding-top: 30px;
  padding-bottom: 30px;
  color:#5f5d60;
}
.heading h2 {
  font-weight: normal;
  margin: auto;
  
}
.info-wrapper {
  text-align: center;
}
.txt-contents p {
  letter-spacing: 5px;
}
.btn {
  color: white;
  display: inline-block;
  padding: 8px 24px;
  opacity:0.8 ; 
  border-radius: 4px;
  box-shadow:0 5px  black;
 
}
.btn-wrapper p {
  font-size: 30px;
  color: darkgray;
  font-family: 'Times New Roman', Times, serif;
}
.btn:hover {
  opacity: 1;
}

.btn-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.btn:active {
  box-shadow: none;
  position: relative;
 top:3px ;
}
footer p {
  color: #5f5d60;
  text-align: center;
}

.info-icon {
  margin: 0 auto;
  width: 300px;
  height: 300px;
}
